//
//  Development.xcconfig
//

// Used when you're developing locally - not on phone, but on simulator
// (phone won't work thanks to DNS lookup of .dev host)

GCC_PREPROCESSOR_DEFINITIONS = API_BASE_URL=@\"http:\/\/memegram.dev\/api\/1\/\" OAUTH_INSTAGRAM_REDIRECT_URL=@\"http:\/\/memegram.dev/auth/instagram/callback\" OAUTH_INSTAGRAM_KEY=@\"4a60b21e9133411ebd59906573ae6fa5\" OAUTH_INSTAGRAM_SECRET=@\"147e6d111ba64098866c36a80136b08d\" DEBUG

// If you want to develop on your phone, copy the local.xccoconfig.example
// to local.xcconfig and edit the settings there.
#include "local.xcconfig"